/* Nav Created By Harymahayana07 */
header * {
  box-sizing: content-box;
}
.nav__navigation {
  padding: 0px 64px;
  background: var(--white-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 64px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}
form .nav__input_search {
  padding: 8px 16px;
  border: 1px solid #d1d3d4;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  flex-grow: 1;
  box-sizing: border-box;
  height: 36px;
  font-family: "Nunito", sans-serif;
}
.nav__search_submit {
  background: #fc4c02;
  border: 1px solid #fc4c02;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.nav__button {
  width: 46px;
  height: 46px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}
a.nav__icons {
  display: flex;
  align-items: center;
  height: 100%;
}
a.nav__icons .nav__mascot {
  width: 144px;
  height: 64px;
  object-fit: cover;
}
.nav__logo-kyou {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav__img-kyou {
  width: 103px;
  height: 48px;
  margin-top: 5px;
}
.nav__links {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: 24px;
  border-right: 1px solid #d1d3d4;
}
.nav__signin {
  padding-left: 24px;
  font-size: 14px;
  width: 128px;
  text-align: center;
}
.nav__text_signin {
  border: none;
  text-decoration: none;
  color: #fc4c02;
}
.nav__form_search {
  flex-grow: 1;
  padding: 0px 48px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav__cart {
  width: 47px;
}
.nav__search_mobile {
  display: none;
}
.nav__search_mobile-img {
  display: none;
}
.nav__button_menu {
  display: none;
}
.nav__modal__hamburger {
  display:none;
}
.nav__modal__search {
  display:none;
}

@media screen and (max-width: 1024px) {
  .nav__navigation {
    padding: 0px 20px;
    height: 56px;
  }
  .nav__mascot {
    display: none;
  }
  .nav__icons {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav__logo {
    width: 64px;
    height: 32px;
  }
  .nav__wishlist_mobile {
    display: none;
  }
  .nav__button_menu {
    display: initial;
    background: none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
  }
  .nav__signin {
    display: none;
  }
  .nav__search_mobile,
  .nav__search_mobile-img {
    display: block;
  }
  .nav__form_search {
    display: none;
  }
  .nav__links {
    border-right: none;
    padding-right: 0px;
    margin-left: auto;
  }
  .nav__img-kyou {
    object-fit: contain;
    width: 64px;
    height: 32px;
  }
  /* check tambahan */
  .nav__modal__hamburger , .nav__modal__search {
    background: rgba(0, 0, 0, 0.75);
    display: none;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
    padding: 0px;
    width: 100%;
    transition: opacity 5.3s ease-in-out, transform 5.3s ease-in-out;
  }

  .nav__modal-container, .nav__modal__search-container {
    max-width: 800px;
    position: relative;
    padding: 1.2rem;
    background: var(--white-color);
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
  }
  .nav__modal__menu , .nav__modal__search_menu {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    padding: 0px;
    max-width: none;
  }
  .nav__modal_menu-hidden {
    display: block;
  }
  .nav__modal_mobile_top {
    padding: 18px 24px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: var(--white-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d1d3d4;
  }
  .nav__modal__search_mobile_top {
    padding: 0px 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    background: var(--white-color);
    display: flex;
    align-items: center;
    z-index: 10;
  }
 
  .nav__modal_button-back, .nav__modal_button-search-back {
    background: transparent;
    border: none;
    margin-right: 20px;
    height: 16px;
    cursor: pointer;
  }
  .nav__modal_button-img {
    filter: brightness(0);
    height: 16px;
  }
  .nav__modal_inner_menu {
    height: 100%;
    margin-top: 55px;
  }
  .nav__modal_info_card {
    padding: 24px 20px;
    display: flex;
    align-items: center;
  }
  .nav__modal_img-face {
    width: 40px;
    margin-right: 16px;
  }
 
  .nav__modal_username {
    font-size: 16px;
    color: #565252;
    font-weight: bold;
  }
  hr.nav__modal_hr {
    border: 0.5px solid #d1d3d4;
  }
  .nav__modal_link_menu {
    display: flex;
    padding: 16px 20px;
    align-items: center;
    color: #565252;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
  }
  .nav__modal_svg {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    fill: #808080;
  }
  .nav__modal__search_form {
    height: 52px;
    flex-grow: 1;
    position: relative;
  }
  .nav__modal__search_form input {
        height: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    transform: scale(calc(14/16));
    margin-top: 1px;
    transform-origin: left center;
    padding-right: 24px;
  }
  .nav__modal__search-content {
    padding: 16px 20px;
    margin-top: 52px;
  }
  .nav__modal__search-content-label {
    font-size: 12px;
    color: #a2a2a2;
    display: block;
    margin-bottom: 8px;
  }
   .nav__modal__search-content-entry {
    background: none;
    border: none;
    font-family: "Nunito", sans-serif;
    color: #565252;
    padding: 8px 0px;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
}
/* End Nav */
