/* create by dosma rina br manik */
.register{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 24px 0px;
}
.register_content{
    width: 100%;
    max-width: 480px;
    margin: auto;
}
.register_logo{
    width: 120px;
    height: 44.4px;
    object-fit: contain;
    margin: 0px auto;
    display: block;
}
.register_tittle{
    text-align: center;
    margin-top: 12px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #606060;
}
.register_form_content{
    margin-top: 24px;
    padding: 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
}
.register_fb{
    margin-top: 0px;
}
.register_button_fb{
    padding: 16px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    width: 100%;
    cursor: pointer;
    background: #465daa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register_img_fb{
    filter: brightness(0) invert(1);
    height: 20px;
    width: 10px;
    object-fit: contain;
    margin-right: auto;
}
.register_button_tittle_fb{
    color: inherit;
    margin-right: auto;
}
.register_content_label{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.register_content_label:before{
    margin-right: 8px;
    content: " ";
    display: inline-block;
    border: 0.5px solid #d1d3d4;
    flex-grow: 1;
}
.register_content_label:after{
    margin-left: 8px;
    content: " ";
    display: inline-block;
    border: 0.5px solid #d1d3d4;
    flex-grow: 1;
}
.register_name{
    display: block;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #808080;
    margin-top: 15px;
}
.register_box{
    border-radius: 4px;
    border: 1px solid #d1d3d4;
    color: #565252;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 8px;
    width: 100%;
}
.register_btn{
    padding: 16px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    width: 100%;
    cursor: pointer;
    background: orangered;
    margin-top: 15px;
}
.register_ready{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    display: block;
    margin: 16px auto 0px;
    text-decoration: none;
    color: orangered;
}
.register_ready:hover{
    text-decoration: underline;
}