/* createdby affu satouru */

body{
    font-family: "Nunito", sans-serif ;
    margin: 0;
    padding: 0;
}
.section__4-title{
    font-size: 20px;
    font-weight: bold;
    padding: 16px 0;
}
.section__4-title h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.section__4-container {
    width: 100%;
    position: relative;
  }
  .section__4-container2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .section__4-container3 {
    display: flex;
    overflow: hidden;
  }
  .section__4-button {
    position: absolute;
    font-size: 32px;
    border: none;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    line-height: 0;
    color: rgb(252, 76, 2);
    background: white;
    font-style: bold;
    box-shadow: none;
    cursor: pointer;
    transition: opacity 0.25s ease, box-shadow 0.15s ease, transform 0.25s ease;
    pointer-events: all;
    z-index: 1;
    opacity: 0.6;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 6px;
  }
  .section__4-button:hover {
    opacity: 1;
  }
  .section__4-button:first-child {
    left: 8px;
  }
  .section__4-button:last-child {
    right: 8px;
  }
  .section__4-content {
    display: flex;
    align-items: center;
    /* font-size: 2em; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-box-align: center;
  }
  .section__4-carousel {
    width: 100%;
    /* white-space: nowrap; */
    display: flex;
  }
  .section__4-img {
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.25s ease 0s;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .section__4-direct{
    margin-left: 15px;
    background: transparent !important;
  }