.container {
  width: 72%;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
}
.section__3 {
  width: 100%;
}
.section__3-title {
  font-size: 20px;
  font-weight: bold;
  padding: 16px 0;
}
.section__3-categories {
  display: flex;
  gap: 0.1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.section__3-categories-item {
  width: 8rem;
  text-align: center;
  padding: 6px 6px 0 6px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__3-categories-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.section__3-categories-item-img img {
  width: 100%;
  min-width: 70px;
  height: auto;
  margin-bottom: 6px;
}
.section__3-categories-item-title {
  font-size: 14px;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .section__3-categories-item {
    width: 100%;
    height: 12rem;
    width: 12rem;
    border: 1px solid black;
  }
  .section__3-categories {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .section__3-categories-item-img {
    width: 8rem;
  }
}
