.section__2 {
  display: flex;
  justify-content: center;
  background: -moz-linear-gradient(90deg, #8e2610 0%, #481502 100%);
  background: linear-gradient(90deg, #8e2610 0%, #481502 100%);
  background-repeat: no-repeat;
  background-size: 100% 72px;
}
.section__2-container {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  width: 82.5%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
  box-sizing: border-box;
}
.section__2-container-shopping:nth-child(1) {
  flex: 1;
  background-color: var(--primary-color);
  display: flex;
}
.section__2-container-shopping:nth-child(2) {
  flex: 1;
  display: flex;
  padding: 24px 8px;
  flex-direction: column;
  align-items: center;
}
.section__2-container-shopping-left {
  flex: 1;
  padding: 26px 48px 24px 24px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
}
.section__2-container-shopping-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}
.section__2-img {
  object-fit: cover;
}
.section__2-button-next {
  right: 8px;
}
.section__2-container-shopping:nth-child(2) {
  background-color: white;
  flex: 1;
}
.section__2-button-carousel {
  position: absolute;
  font-size: 32px;
  border: none;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  line-height: 0;
  color: rgb(252, 76, 2);
  background: white;
  font-style: bold;
  box-shadow: none;
  cursor: pointer;
  transition: opacity 0.25s ease, box-shadow 0.15s ease, transform 0.25s ease;
  pointer-events: all;
  z-index: 1;
  opacity: 0.6;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 6px;
}
.section__2-button-carousel:hover {
  opacity: 1;
}
.section__2-button-carousel:first-child {
  left: 8px;
}
.section__2-button-carousel:nth-child(2) {
  right: 8px;
}
.section__2-shopping-caption {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.section__2-button {
  width: 100%;
  font-size: 1rem;
  padding: 12px 16px;
  background-color: white;
  color: var(--primary-color);
  border-radius: 2rem;
  border: 1px solid var(--primary-color);
  margin-top: 1rem;
  font-weight: 600;
}
.section__2-button a {
  text-decoration: none;
  color: var(--primary-color);
}
.section__2-carousel {
  max-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__2-carousel-item {
  height: 150px;
  margin-right: 10px;
  border-radius: 10px;
}
/* right sight carousel */
.section__2-title-button {
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
.section__2-badge {
  position: absolute;
  right: -18px;
  top: -12px;
  width: 24px;
  height: 24px;
}
.section__2-title-description {
  color: black;
  margin-top: -5px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.section__2-container-list-store {
  width: 100%;
}
.section__2-container-list-store p {
  text-align: center;
  color: slategray;
  font-size: 18px;
}
.section__2-list-store {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}
.section__2-list-store-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__2-list-store-item img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 10px;
}
.section__2-store-button {
  background-color: var(--primary-color);
  padding: 12px 16px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}
.section__2-container-shopping {
  max-width: 900px;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .section__2 {
    background: white;
  }
  .section__2-container {
    width: 100%;
    margin: 0 2rem;
  }
   .section__2-container-shopping {
    padding-bottom: 2rem;
  }
  .section__2-container-shopping-right {
    margin-left: 200px;
    padding-top: 2rem;
  }
  .section__2-shopping-caption {
    font-size: 1.3rem;
  }
  .section__2-container-shopping {
    max-width: 100%;
  }
  .section__2-container {
    width: 100%;
    flex-direction: column;
  }
  .section__2-carousel-item {
    height: 100%;
  }
  .section__2-carousel {
    max-width: 400px;
    max-height: 300px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .section__2-container {
    margin: 0;
  }
  .section__2-container {
    height: fit-content;
  }
  .section__2-container-shopping-right {
    margin-left: 0;
    padding: 0 4rem;
  }
  .section__2-carousel-item {
    width: 200px;
    height: 100%;
  }
  .section__2-carousel {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__2-container-shopping:nth-child(1) {
    flex-direction: column;
    flex: 0;
    padding-top: 2rem;
  }
  .section__2-container-shopping:nth-child(2) {
    flex: 0;
  }
  .section__2-container-shopping-right {
    order: -10;
    flex: 0;
  }
  .section__2-container-shopping-left {
    flex: 0;
  }
  .section__2-shopping-caption {
    font-size: 1.3rem;
    max-width: 400px;
    line-height: 20px;
  }
  .section__2-title-description {
    font-size: 16px;
    margin-top: 5px;
  }
   .section__2-shopping-caption {
    font-size: 24px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 434px) {
  .section__2-shopping-caption {
    font-size: 18px;
  }
}