@import './navbar.css';
@import './section1.css';
@import './section2.css';
@import './section3.css';
@import './section4.css';
@import './section5.css';
@import './section6.css';
@import './section7.css';
@import './section8.css';
@import './section9.css';
@import './section10.css';
@import './footer.css';